/* Globales */
body {
    background-color: #E9EFF6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 20%;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-image: url("../img/Logo_desemfoque.png");
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: rgb(228, 141, 12);
}
h1{
    font-size: 40px !important;
}
nav{
    background-color: rgb(228, 141, 12);
    width: 100%;
    height: 45px;
    color: #fff;
    padding: 0px 1px;
}

ul, ol{
    list-style: none;
}
/* este container es para la imagen del logo de setues, por debajo del nav */
.index-body {
    background-image: none;
}
.container_logo{
    text-align: center;
}

.menu{
    padding-top: 10px;
}
.menu li a{
    background-color: rgb(228, 141, 12) ;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: -10px;
    height: 100%;
    display: block;
}
.sublista{
    margin-top: 0 !important;
}

.menu > li{
    float: left;
}

.menu li a:hover{
    background-color: rgb(91, 41, 42);
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
}


.Welcome {
    background-color:rgb(91, 41, 42) ;
    padding: 10px;
}
.t2{
    margin-top: -20px !important;
}
.image-logo{
    max-width: 100px !important;
    height: 100px !important; 
}

.logo{
    width: 70px;
    height: 110px;
    margin-right: 10px;
}

.links{
    margin-bottom: 5px;
}
.links a:hover{
    color:rgb(228, 141, 12)  !important;
}

.navigator {
    background-color: rgb(228, 141, 12);
    padding: 20px;
}

.btn {
    display: inline-block;
    background-color: aliceblue;
    padding: 25px 35px;
    border: 0px;
    margin: -6px 0px;
    
}

.btn:hover {
    background-color: rgb(91, 41, 42) !important;
    color: aliceblue !important;
}

.texts {
    align-self: center;
    color: aliceblue;
}

.t-right {
    padding-left: 50%;
}

/* Estilos para el documento login */

.section-login {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 87%;
}

.div-form-login{
    height:90%
}

.form-container {
    width: 60%;
    border-radius: 0 !important;
}

.title-login {
    background-color: #474040;
    padding: 4%;
    margin: -19% -19% 0 -19%;
    color: aliceblue;
    font-weight: 500;
    font-size: 22px;
}



/* ---------- Login-Formulario ------------ */
.formulario {
    margin: -5rem auto -2rem auto;
    width: 100%;
    padding-top: 5rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.form__label{
    font-weight: 500;
    font-size: 18px;
}

.label__email{
    padding-right: 10%;
}
.form-control{
    border: 1px solid orange !important; 
    box-shadow: 0 1px 6px 0 rgba(220, 117, 7, 0.5) !important;
}
.form-control:focus{
    border: 1px solid black !important; 
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5) !important;
}
.input__pass{
    margin-right: -6.5%;
    border-right: white !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input__showpass{
    width: 12%;
    border: 1px solid #ced4da;
    background-color: white;
    gap: 10px;
    border: 1px solid orange; 
    box-shadow: 0 1px 6px 0 rgba(220, 117, 7, 0.5);
}

.a-login {
    color: #E48D0C;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

.btn-login_submit {
    background-color: rgb(91, 41, 42) !important;
    color: white !important;
    width: 100% !important;
}
.btn-login_submit:hover {
    background-color: rgb(255, 140, 0) !important;
}

.error {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width:100%;
    border-radius: 5px;
}

/* Estilos para el documento formularios estudiantes */
@media(max-width:768px){
    .container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* Estilos para el documento register */
.container-register{
    height: 65vh;
    display: flex;
    align-items: flex-end;
}
.div-btn_register{
    height: 3rem;
}
.exito {
    background-color: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width:100%;
    border-radius: 5px;
}
.container table{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
th,td{
    padding:20px !important;
}

.tr-rows th, .tr-rows td{
    background-color: white;
}

.add_user{
    padding: 0 0 100px 10px !important;
}

.update_user{
    padding: 0 0 150px 10px !important;
}

/* File upload */
.contenedor-main{
    display: inline-block;
    position: absolute;
    height: 80%;
    width: 100%;
    font-family: Arial, sans-serif;
}
.contenedor-subir-archivos{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #ccc;
    max-width: 400px;
    width:90%;
    height: 300px;
    flex-direction: column;
    border-radius: 10px;
    gap:25px;
    background: #f9f9f9;
    cursor: pointer;
    padding:100px;
}
#uploadBtn{
    width:90%;
    max-width: 200px;
    cursor: pointer;
    transition: 0.5s;
}
#uploadBtn:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
#fileName{
    font-size: 16px;
    font-style: italic;
    font-size: italic;
    color: #fff;
    background: rgb(228, 141, 12);
    padding:10px;
    margin-bottom: -65px;
}
.contenedor-subir-archivos .drop-area.dragover{
    border-color: #4caf50;
    background-color: #e0ffe0;
}

.epol{
    max-width: 400px !important;
    width:90% !important;
}
/*Estilos para el formulario para el de olvidar la contraseña*/

.formulario_Olvidar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #fde5bf;
    border-radius: 10px;
}

.formulario_Olvidar h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario_Olvidar form{
    padding: 10px 50px;
    box-sizing: border-box;
}

form .correo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 10px 0;
}

.correo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.correo label{
    position: absolute;
    top: 60%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.çorreo span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
}

.correo input:focus ~ label,
.correo input:focus ~ label{
    top: -5px;
    color: #6C3483;
}

.correo input:focus ~ span::before,
.correo input:focus ~ span::before{
    width: 100%;
}

.forget-input{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    background: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.forget-input:hover{
    border: 1px solid orange !important;
    transition: .5s;
}

/*Estilos para la tabla de lista de polizas*/

.containertbl{
    background: #fff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.tbl_container h2{
    padding: 2rem 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.tbl{
    width: 100%;
    border-collapse: collapse;
}

.tbl thead tr th{
    padding: 0.8rem;
    letter-spacing: 0.2rem;
    vertical-align: top;
    border: 1px solid #aab7b8;
}

.tbl tbody tr td{
    letter-spacing: 0.2rem;
    font-weight: normal;
    text-align: center;
    border: 1px solid #aab7b8;
    padding: 0.8rem;
}
.tbl thead{
    background: #E48D0C !important;
}

.tbl tr:nth-child(even){
    background: #ccc;
}

.form-control-tbl{
    height: 100% !important;
    border: 1px solid orange !important; 
    box-shadow: 0 1px 6px 0 rgba(220, 117, 7, 0.5) !important;
}
.form-control-tbl:focus{
    border: 1px solid black !important; 
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5) !important;
}

.inp-search{
    width: 250% !important;
}

.sel-search-first{
    padding-left: 28% !important;
}

.btn-search{
    margin-bottom: 1px !important;
}

.btn-logout {
    background-color: rgb(228, 141, 12); /* Cambia esto al color que desees */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #6c2323; 
}

@media (min-width: 720px) {
    .container-poliza{
        max-width: 80% !important;
    }
}
@media (max-width: 1545px) {
    .tbl{
        table-layout: fixed !important;
        width: 100% !important;
    }
    th,td {
        border-style: solid;
        border-width: 5px;
        border-color: #BCBCBC;
        word-wrap: break-word;
    }
    .inp-search{
        width: 100% !important;
    }
    .sel-search-first{
        padding-left: 0 !important;
    }

}
